asttokens
backcall
certifi
cffi
charset-normalizer
comm
contourpy
cycler
debugpy
decorator
exceptiongroup
executing
filelock
fonttools
fsspec
idna
ipykernel
ipython
jedi
Jinja2
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mpmath
nest-asyncio
networkx
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
opencv-python
packaging
pandas
parso
pexpect
pickleshare
Pillow
platformdirs
prompt-toolkit
psutil
ptyprocess
pure-eval
py-cpuinfo
pycparser
Pygments
pyparsing
python-dateutil
pytz
PyYAML
pyzmq
requests
scipy
seaborn
six
soundfile
stack-data
sympy
thop
torch
torchvision
tornado
tqdm
traitlets
triton
typing_extensions
tzdata
ultralytics
urllib3
wcwidth
